@page "/purchaseorder/createpurchase"

@using AppForSEII2526.Web.Components.Shared
@using AppForSEII2526.Web.API
@inject APiClient apiclient
@inject ILogger<SelectProductsForPurchase> logger
@inject PurchaseStateContainer purchaseState

<h3>Create a Purchase</h3>

@* purchase is the object that will be edited thanks to the form *@
<EditForm Model="purchase" OnValidSubmit="OpenDialog">
    <div class="row">
        <DataAnnotationsValidator />
        <ValidationSummary />
    </div>
    <div class="row g-3">
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="purchase.NameSurname" class="form-control" id="Name" />
                <label for="Name">Name and Surname</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="purchase.CustomerUserName" class="form-control" id="Name" />
                <label for="Name">UserName</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="purchase.Street" class="form-control" id="DeliveryAddress" />
                <label for="DeliveryAddress">Delivery Address</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="purchase.City" class="form-control" id="Name" />
                <label for="Name">City</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="purchase.PostalCode" class="form-control" id="Name" />
                <label for="Name">Postal Code</label>
            </div>
        </div>
    </div>
    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating">
                @*a dropdown for selecting the payment method*@
                <InputSelect class="form-select" @bind-Value="@purchase.PaymentMethodId" id="PaymentMethod">
                    <option value="3">Bizum</option>
                    <option value="4">Credit Card</option>
                    <option value="5">PayPal</option>
                </InputSelect>
                <label for="PaymentMethod">Payment Method</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                @*this button will be used to ask the user if he wants to proceed to purchase the products*@
                <button class="btn btn-primary" type="submit" id="Submit">
                    Purchase your products
                </button>
            </div>
        </div>
    </div>
    <div class="mh-100 table-responsive">
        <table class="table table-condensed table-hover" id="TableOfRentalItems">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Brand</th>
                    <th>Colour</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in purchase.PurchaseProducts)
                {
                    <tr id="ProductData_@item.Name">
                        <td>@item.Name</td>
                        <td>@item.Brand</td>
                        <td>@item.Colour</td> 
                        <td>@item.Quantity</td>
                        <td>@item.Price €</td>
                        <td>@(item.Price * item.Quantity) €</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</EditForm>

@*a modal popup dialog for checking if user wants to proceed to rent*@
@if (DialogIsOpen)
{
    <Dialog Caption="Purchase prdocuts"
            Message="Do you want to proceed to purchase the selected products?"
            OnClose="@OnDialogClose"
            Type=Dialog.Category.SaveNot>
    </Dialog>
}

@code {
    private bool DialogIsOpen;
    private object? errors;
    private PurchaseOrderForCreateDTO purchase => purchaseState.Purchase;
    
    private void OpenDialog()
    {
        DialogIsOpen = true;
    }

    private async Task OnDialogClose(bool isOk)
    {

        DialogIsOpen = false;
        if (isOk)
        {
            // Process the data introduced by the user if they are valid
        }
    }
}