@page "/purchaseord/detailpurchase"


@using AppForSEII2526.Web.API
@using Microsoft.AspNetCore.Authorization
@inject APiClient apiclient

<h3>DetailPurchase</h3>

@attribute [Authorize]

@if (purchase == null)
{
    <p>@error</p>
}
else
{
    <table class="table table-borderless table-sm">
        <tr>
            <th>Name and Surname</th>
            <td id="NameSurname">@purchase.CustomerName @purchase.CustomerSurname</td>
        </tr>
        <tr>
            <th>Date of Purchase</th>
            <td id="Date">@purchase.Date</td>
        </tr>
        <tr>
            <th>Street</th>
            <td id="DeliveryAddress">@purchase.Street</td>
        </tr>
        <tr>
            <th>City</th>
            <td id="City">@purchase.City</td>
        </tr>
        <tr>
            <th>PostalCode</th>
            <td id="PostalCode">@purchase.PostalCode</td>
        </tr>
        <tr>
            <th>Payment Method</th>
            <td id="PaymentMethod">@purchase.PaymentMethodName</td>
        </tr>
    </table>


}


@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public int PurchaseID { get; set; }
    private PurchaseOrderDetailDTO purchase;
    private string error = "";

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {

        //we check the user is logged in
        string userName = "";
        if (authenticationState is not null)
        {
            var authState = await authenticationState;
            var user = authState?.User;

            //we retrieve the id of the user logged in
            if (user is not null)
            {
                if (user.Identity is not null && user.Identity.IsAuthenticated && user.IsInRole("User"))
                {
                    userName = user.Identity.Name;
                }
            }
        }

        try
        {
            purchase = await apiclient.GetPurchaseOrderAsync(PurchaseID);
        }
        catch (ApiException exception)
        {
            purchase = null;
        }
        if (purchase == null)
        {
            error = $"Error! You are not authorized to see this purchase or there is not a purchase with id={PurchaseID}";
        }


    }

}