@page "/purchaseorder/selectproductsforpurchase"

@using AppForSEII2526.Web.API
@inject APiClient apiclient
@inject ILogger<SelectProductsForPurchase> logger
@inject PurchaseStateContainer purchaseState
@inject NavigationManager navigation


<h3>Select Products For Purchase</h3>
<div class="container-fluid">
    <div class="row alert alert-danger" role="alert" hidden="@hideErrors">
        <p id="ErrorsShown">Errors: @errors</p>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Title</span>
                        <input type="text" id="inputTitle" @bind=productName class="form-control" placeholder="Write the name of the product to purchase" aria-label="Product name" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Genre</span>
                        <input type="text" id="inputGenre" @bind=productColour class="form-control" placeholder="Write the colour of the product to purchase" aria-label="Product colour" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary" @onclick=@SearchProducts id="searchProducts">Search products</button>
                </div>
            </div>
            <div class="row">
                @if (products == null)
                {
                    <p>Loading products....</p>
                }
                else
                {
                    <div class="mh-100 table-responsive">
                        <table class="table table-condensed table-hover" id="TableOfProducts">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Brand</th>
                                    <th>Location</th>
                                    <th>Stock</th>
                                    <th>Add</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in products)
                                {
                                    <tr id="ProductData_@product.Id">
                                        <td>@product.Name</td>
                                        <td>@product.Brand</td>
                                        <td>@product.Location</td>
                                        <td>@product.Stock</td>
                                        <td>
                                            <button class="btn btn-outline-secondary"
                                                    id="productToPurchase_@product.Id"
                                                    @onclick="@(() => AddProduct(product))">
                                                Add
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>


                }
            </div>
        </div>
        <div class="col-2" hidden="@hideRentingCart">
            <div class="row">
                <h3>Shopping Cart</h3>
            </div>
            @foreach (PurchaseProductForCreateDTO product in purchase.PurchaseProducts)
            {
                <div class="row">
                    <button type="button" class="btn btn-light" id="removeMovie_@product.Name" @onclick="@(() => RemoveProductItem(product))">x @product.Name </button>
                </div>
            }
            <div class="row">
                <button type="button" class="btn btn-primary" id="purchaseMovieButton" @onclick=@PurchaseProducts>Create a purchase</button>
            </div>
        </div>

    </div>

</div>
@code {
    private bool hideRentingCart { get { return purchase.PurchaseProducts.Count == 0; } }
    private ICollection<ProductForPurchaseDTO> products;
    private bool hideErrors { get { return errors.Length == 0; } }
    private string errors = "";
    private string productName { get; set; }
    private string productColour { get; set; }
    private string _productName;
    private string _productColour;

    private PurchaseOrderForCreateDTO purchase => purchaseState.Purchase;

    private bool hiddenPurchaseCart = true;

    private void AddProduct(ProductForPurchaseDTO product)
    {
        purchaseState.AddProductToPurchase(product);
        hiddenPurchaseCart = false;
    }

    private void RemoveProductItem(PurchaseProductForCreateDTO item)
    {
        purchaseState.RemoveProductFromPurchase(item);

        if (purchase.PurchaseProducts.Count == 0)
            hiddenPurchaseCart = true;
    }



    public async void SearchProducts()
    {
        try
        {
            products = await apiclient.GetProductsForPurchaseAsync(productName, productColour);

        }
        catch (ApiException ex)
        {
            logger.LogError($"{DateTime.Now} Error: {ex}");
            errors = "Error while connecting to the system";
        }
        StateHasChanged();
    }

    private void PurchaseProducts()
    {
        navigation.NavigateTo("/purchaseorder/createpurchase");
    }
}
